@(userForm: Form[forms.AuthorizationForm])
@import b3.vertical.fieldConstructor

@main("Login") {
    <h1>Login</h1>
    @b3.form(action = routes.AuthorizationController.authorize()) {
        @b3.email(userForm("email"), '_label -> "E-mail")
        @b3.password(userForm("password"), '_label -> "Password")
        @b3.submit('class -> "btn btn-primary"){ Login }
        <a href="@routes.ForgottPasswordController.forgottPassword()" class="btn btn-default">Forgott password</a>
        <a href="@routes.HomeController.index()" class="btn btn-default">Go back</a>
    }
}