@(userForm: DynamicForm)

@main("Login") {
    <h1>Login</h1>
    @for(error <- userForm.allErrors()){
        <p class="bg-danger message-box">@error.message()</p>
    }
    <form action="@routes.AuthorizationController.authorize()" method="POST">
        <p><input type="email" class="form-control" placeholder="Email" name="email"
            value="@userForm.get("email")"></p>
        <p><input type="password" class="form-control" placeholder="Password" name="password"
            value="@userForm.get("password")"></p>
        <p>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="@routes.HomeController.index()" class="btn btn-default">Go back</a>
        </p>
    </form>

    <a href="@routes.TwitterAuthController.twitterAuth()" class="btn btn-primary" style="margin-top:15px;">Log in with Twitter</a>
    <div id="fb-root"></div>
    <script src="@routes.Assets.versioned("javascripts/facebook_auth.js")"></script>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with"
        data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="margin-top:15px;"
        scope="public_profile,email" onlogin="onFacebookLoginButtonClick();"></div>
    <p id="facebookErrorMessage" class="bg-danger" style="padding:10px;margin-top:15px;visibility:collapse;">
        Unable to login through Facebook
    </p>
}