
@main("Cards") {
    <h1>Cards</h1>
    <div class="row">
        <div class="col-sm-4">
            <form data-bind="submit: addCard" enctype="multipart/form-data">
                <p><input class="form-control" placeholder="Title" name="title"></p>
                <p><textarea class="form-control" placeholder="Content goes here..." name="content"></textarea></p>
                <p><input type="file" class="form-control-file" name="images" accept="image/*" multiple></p>
                <p><button type="submit" class="btn btn-primary">Add</button></p>
            </form>
            <p class="bg-danger error-box" data-bind="text: errorMsg, visible: errorMsg().length > 0"></p>
        </div>
        <div class="col-sm-8", data-bind="foreach: cards">
            <div class="card mycard">
                <div class="card-block">
                    <div class="mycard-header">
                        <h4 class="card-title" data-bind="text: title"></h4>
                        <button type="button" class="btn btn-default" data-bind="click: $parent.removeCard">Remove</button>
                    </div>
                    <p class="card-text" data-bind="text: content"></p>
                </div>
                <div class="mycard-images" data-bind="foreach: images">
                    <div>
                        <img data-bind="attr: { src: $data }">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--todo move to file all javascript and css -->>
    <script type="text/javascript">
        function Card(data) {
            this.id = ko.observable(data.id);
            this.title = ko.observable(data.title);
            this.content = ko.observable(data.content);
            this.images = ko.observableArray(data.images);
        }

        function CardListViewModel() {
            var self = this;
            self.cards = ko.observableArray([]);

            self.errorMsg = ko.observable("");

            self.addCard = function (form) {
                var formData = new FormData(form);
                $('form').find('*').attr('disabled', true);
                self.errorMsg("");
                $.ajax({
                    type: "POST",
                    url: "@routes.CardsController.addCard()",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function (data) {
                    self.cards.unshift(new Card(JSON.parse(data)));
                    $('form')[0].reset();
                }).fail(function (jqXHR) {
                    self.errorMsg(jqXHR.responseText);
                }).always(function () {
                    $('form').find('*').attr('disabled', false);
                });
            };
            self.removeCard = function (card, event) {
                $.ajax({
                    type: "DELETE",
                    url: "/cards/delete?card=" + card.id()
                }).done(function () {
                    self.cards.remove(card);
                });
            };

            $.getJSON("@routes.CardsController.loadCards()", function (allData) {
                var mappedTasks = $.map(allData, function (item) {
                    return new Card(item)
                });
                self.cards(mappedTasks);
            });
        }

        ko.applyBindings(new CardListViewModel());
    </script>

    <style>
            .mycard {
                margin-bottom: 15px;
            }
            .mycard-header {
                display: flex;
                align-items: flex-start;
            }
            .mycard-header h4 {
                flex: 1;
            }
            .mycard-images {
                display: flex;
                margin: 0px;
                padding: 0px;
            }
            .mycard-images div {
                flex: 1;
            }
            .mycard-images div img {
                width: 100%;
                margin: 0px;
                padding: 0px;
                height: 150px;
                object-fit: cover;
            }
    </style>
}