@(userForm: DynamicForm)(key: String)
@main("Change password") {
    <h1>Change password</h1>
    @for(error <- userForm.allErrors()){
        <p class="bg-danger message-box">@error.message()</p>
    }
    <form action="@routes.ForgotPasswordController.changePassword(key)" method="POST">
        <p><input type="password" class="form-control" placeholder="Password" name="password"
            value="@userForm.get("password")"></p>
        <p><input type="password" class="form-control" placeholder="Confirm password" name="passwordConfirm"
            value="@userForm.get("passwordConfirm")"></p>
        <p>
            <button type="submit" class="btn btn-primary">Change</button>
            <a href="@routes.HomeController.index()" class="btn btn-default">Go back</a>
        </p>
    </form>
}