@(userForm: play.data.Form[forms.ChangePasswordForm])(key: String)
@import b3.vertical.fieldConstructor

@main("Change password") {
    <h1>Change password</h1>
    @b3.form(routes.ForgotPasswordController.changePassword(key)) {
        @b3.password(userForm("password"), '_label -> "Password")
        @b3.password(userForm("passwordConfirm"), '_label -> "Confirm password")
        @b3.submit('class -> "btn btn-primary"){ Change password }
        <a href="@routes.HomeController.index()" class="btn btn-default">Go back</a>
    }
}