@(userForm: DynamicForm)
@main("Forgot password") {
    <h1>Forgot password</h1>
    @for(error <- userForm.allErrors()){
        <p class="bg-danger message-box">@error.message()</p>
    }
    <form action="@routes.AuthorizationController.authorize()" method="POST">
        @helper.CSRF.formField
        <p><input type="email" class="form-control" placeholder="Email" name="email"
            value="@userForm.get("email")"></p>
        <p>
            <button type="submit" class="btn btn-primary">Send email</button>
            <a href="@routes.HomeController.index()" class="btn btn-default">Go back</a>
        </p>
    </form>
}