@import models.data.Users
@(registeredUsers: java.util.List[Users])
@main("Registered users") {
    <h1>Registered users</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="white-space:nowrap;width:1px;"></th>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            @for(registeredUser : Users <- registeredUsers) {
                <tr>
                    <td><img src="@registeredUser.getAvatarUrl()" alt="User avatar"
                        style="width:50px;height:50px;border-radius:25px"></td>
                    <td style="vertical-align:middle;">@registeredUser.getName()</td>
                    <td style="vertical-align:middle;">@registeredUser.getEmail()</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@routes.ProfileEditorController.profileEditor()" class="btn btn-default">Edit profile</a>
    <a href="@routes.AuthorizationController.logout()" class="btn btn-default">Logout</a>
}