@import models.data.Users
@(registeredUsers: List[Users])(notification: String)
@main("Registered users") {
    <h1>Registered users</h1>
    @if(!notification.equals("")){
        <p class="bg-success">@notification</p>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
        @for(registeredUser <- registeredUsers) {
            <tr>
                <td>@registeredUser.name</td>
                <td>@registeredUser.email</td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.ProfileEditorController.profileEditor()" class="btn btn-default">Edit profile</a>
    <a href="@routes.AuthorizationController.logout()" class="btn btn-default">Logout</a>
}